.header{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    margin-bottom: 5px;
}
.header .header-content{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}