.message {
    display: flex;
    margin-bottom: 15px;
}
.message .message__content .message-text{
    background-color: #61dafb;
    border-radius: 18px;
    box-shadow: 0px 5px 5px #282c34;
    padding:2px 15px;
}
.message .message__content .message-text p{
    color: aliceblue;
}
.message .message-like{
    display: flex;
    flex-direction: column-reverse;
}
.message .message-user-avatar{
    display: flex;
    flex-direction: column-reverse;
}
img{
    width: 33px;
    height: 33px;
    margin: 0 13px;
    border-radius: 50px;
}
